body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
}

header {
	background-color: #F8F8F8;
	padding: 20px;
	text-align: center;
}

header h1 {
	margin: 0;
	font-size: 36px;
	font-weight: bold;
}

header p {
	margin: 10px 0 0 0;
	font-size: 18px;
}

section {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #333;
}

section h2 {
	margin-top: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	margin-bottom: 10px;
}

ul li
